<div class="container-fluid">
    <div class="row border rounded">
        <div class="col">
           <h3>Game: {{game.name}}</h3>
        </div>
        <div class="col-4">
            <button class="btn btn-success" (click)="togglePoints($event)">{{game.show ? 'Display Scores' : 'Hide Scores'}}</button>
        </div>
        <div class="col-4">
            <button class="btn btn-secondary" (click)="clrPoints($event)">New Round</button>
        </div>
    </div>
    <p>
    <div class="row border-top border-left border-right rounded-top">
        <h5>{{game.show ? 'Voting...' : 'Score: ' + average }}</h5>
    </div>
    <div class="row border-bottom border-left border-right  rounded-bottom">
        <div class="col" *ngFor="let card of cards">
            <button
                class="cards btn"
                [ngClass]="card.selected ? 'btn-info' : 'btn-outline-info'"
                [innerHTML]="card.display">
            </button>
            <p>{{card.user.name}}</p>
        </div>
    </div>
    <p>
    <div class="row border-top border-left border-right rounded-top">
        <h5>User: {{user.name}}</h5>
    </div>
    <div class="row border-bottom border-left border-right  rounded-bottom">
        <div class="col" *ngFor="let point of points; let p = index">
            <button [disabled]="game.show"
             class="cards btn" 
             [ngClass]="point.selected ? 'btn-primary' : 'btn-outline-primary'"
             (click)="setPoints($event, p)">{{point.value}}</button>
        </div>
    </div> 
</div>
