<h1>Game: {{game.name}}</h1>
<h3>User: {{user.name}}</h3>
<div>
    <span *ngFor="let user of users ">
        <button
            class="cards btn"
            [ngClass]="user.points > -1 ? 'btn-outline-info' : 'btn-info'">
            {{game.show ? user.points: 'X' }}
        </button>
        <p>{{user.name}}</p>
    </span>
</div>
<div *ngIf="game.show">
    Avg: {{average}}
</div>
<div class="">
    <button *ngFor="let point of points"
     class="cards btn" 
     [ngClass]="(point === user.points) ? 'btn-primary' : 'btn-outline-primary'"
     (click)="setPoints($event, point)">{{point}}</button>
</div> 
<button class="cards btn btn-success" (click)="togglePoints($event)">Show</button>
<button class="btn btn-secondary" (click)="clrPoints($event)">New</button>
