<div class="container">
    <h1 id="title">Create Game</h1>
    <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
        <div class="form-group row">
            <div class="col-xs-3">
                <label for="power">Name</label>
                <input type="text" 
                       class="form-control" 
                       id="name"
                       required minlength="3"
                                maxlength="40"
                                pattern="^[a-zA-Z0-9 ]+$"
                                [(ngModel)]="game.name" 
                                name="name"
                                #name="ngModel">
                <div [hidden]=" name.valid || name.pristine"
                                class="alert alert-danger">
                    Name of only letters numbers and spaces is required
                </div>
            </div>
        </div>
        <button id="submit"  type="button" class="btn btn-default" (click)="createGame()">Create</button>
    </form>
</div>

